{%load static %}

<!--<h1>My footer 1 </h1> -->
<!-- Footer -->
<span class="placeholder col-12 bg-dark"></span>

<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span> Get connected with us on social networks : </span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p>
              <a href="#" >
                <!--<i class="bi bi-info-square"></i></a>-->
                <image src="{% static 'images/icons8-alpha-67.png' %}">
               </a>&nbsp;&nbsp;Alph
              </p>
            <p class="fst-italic">
              Alph is a technology company that specializes in providing software and smart application solutions for businesses and organizations. The company boasts a qualified and specialized team in software design and development, using the latest technologies and tools to ensure the quality and security of their products. Alph designs customized solutions for clients based on their individual needs and requirements, enabling them to achieve the best results in their work and efficiently reach their goals
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <i class="bi bi-filetype-py" >&nbsp;Python Django</i>
            </p>
            <p>
              <i class="bi bi-filetype-html">&nbsp;Css and  Html</i>
            </p>
            <p>
              <i class="bi bi-filetype-js">&nbsp;java script</i>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'admin'%}" target="_blank"><i class="bi bi-gear-wide"></i></a>
               Setting Data
            </p>
            <p><a href="{% url 'home'%}"><i class="bi bi-border-width"></i><a/> Orders</p>
            </p>
            <p>
              <a href="#" target="_blank" ><i class="bi bi-code-slash"></i></a>
               Programming
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><a href="https://www.google.com/maps/search/%D9%88%D8%B1%D9%82%D9%84%D8%A9++%D8%AC%D8%A7%D9%83%D8%B9%D8%A9%E2%80%AD/@31.9464833,5.3418001,13z/data=!3m1!4b1" target="_blank"><i class="bi bi-geo-alt"></i><a/> Ouargla street-1003-D5</p>
            <p>
            <i class="bi bi-envelope-at pl-l"></i>&nbsp;Alpha.It@Alpha.com </p>
            <p><i class="bi bi-phone pl-1"></i>&nbsp;06 66 56 54 52</p>
            <p><i class="bi bi-voicemail pl-l"></i>&nbsp;029 22 22 52</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    
  </footer>
  <!-- Footer -->